* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    height: 100%; /* Asegura que el body ocupe toda la altura */
    margin: 0;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
  }


  #location-btn {
    display: block; 
    padding: 10px; 
    background-color: #007bff; 
    color: white; 
    border-radius: 3px; 
    text-decoration: none; 
    cursor: pointer; 
    text-align: center; 
    font-size: 13px;
    margin-top: 10px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .container-principal{
display: flex;
justify-content: space-evenly;
padding: 40px;

  }
  
  #package-section{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .login-container {
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 600px; /* Tamaño máximo del contenedor de login */
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
 
  
  button:hover {
    background-color: #218838;
  }
  
  .oauth-login {
    text-align: center;
    margin-top: 20px;
  }
  
  .google-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #db4437;
    color: white;
    text-decoration: none;
    border-radius: 3px;
  }
  
  .chat-container {
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #messages-section {
    height: 400px;
    overflow-y: scroll;
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  
  #message-input {
    flex: 1;
    padding: 10px;
  }
  
  #send-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #send-btn:hover {
    background-color: #0056b3;
  }

  

